<h1><a class="btn btn-secondary" href="/Calendar/Indoor">Go To Indoor Calendar</a> Outdoor</h1>

@section Calendar {
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js" defer></script>
    <script src="~/js/OutdoorCalendar.js" asp-append-version="true" defer></script>
    <link rel="stylesheet" href="~/css/indoorCalendar.css" />
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar-outdoor');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });
        calendar.render();
    });
</script>

<!-- Calendar Display -->
<div id='calendar-outdoor'></div>

<!-- Booking Time Confirmation Modal -->
<div id="bookingTimeModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Outdoor Booking Confirmation</h2>
        <p id="bookingTimeModalText"></p>
        <label>
            <input type="checkbox" id="boudoirChecbox" />
            Check this box if this is a boudoir shoot
        </label>
        <button id="confirmTimeBooking">Confirm Time</button>
        <button id="cancelTimeBooking">Cancel</button>
    </div>
</div>

<!-- Booking Cost Confirmation Modal -->
<div id="bookingCostModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Outdoor Booking Confirmation</h2>
        <p id="bookingCostModalText"></p>
        <button id="confirmCostBooking">Confirm Cost</button>
        <button id="cancelCostBooking">Cancel</button>
    </div>
</div>

<!-- Notification Modal -->
<div id="notificationModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Error</h2>
        <p id="notificationModalText"></p>
    </div>
</div>
