@section Styles {
    <link rel="stylesheet" href="~/css/faq.css" />
}

@{
    ViewData["Title"] = "Q&A with Farms and Fairytales";
}

<h1>Frequently Asked Questions</h1>

<div class="qa-container">
    <div class="qa-box">
        <h3>Q: How much is it to rent?</h3>
        <p>A: Family friendly - $35/hr; Outdoor boudoir - $50/hr; Milestones - $50/hr; Filled warm tub - $60/hr (one client per hour)</p>
    </div>

    <div class="qa-box">
        <h3>Q: What is the minimum amount of time I can rent?</h3>
        <p>A: One hour. After that hour, 30-minute increments can be rented.</p>
    </div>

    <div class="qa-box">
        <h3>Q: What is your refund policy?</h3>
        <p>
            A: Once the invoice is paid, it is non-refundable and non-transferable. I do try to be understanding when it
            comes to cancellations and when possible, I do make exceptions to this rule. However, please don’t depend on
            getting a refund or being able to reschedule.
        </p>
    </div>

    <div class="qa-box">
        <h3>Q: What if it rains during my outdoor session?</h3>
        <p>
            A: The greenhouse and the Bavarian cottage are both fully covered for clients. For photographers, please plan
            accordingly for your session. I do have some white umbrellas for use, as well. If there is an absolute chance of
            downpour during your scheduled time, I will reschedule your appointment, but cannot guarantee that I will have
            a date and time that works for you and all your clients.
        </p>
    </div>

    <div class="qa-box">
        <h3>Q: How do milestone sessions work?</h3>
        <p>
            A: Milestone sessions are my favorite! I ask for a few inspirational photos, particular colors, and interests, then
            go from there. I send the photographer a quick snapshot for approval a day or so beforehand to make any
            minor corrections.
        </p>
    </div>

    <div class="qa-box">
        <h3>Q: Do you allow boudoir?</h3>
        <p>
            A: Yes, boudoir is allowed inside the indoor studio. There is absolutely no outdoor boudoir photography in the
            front yard of the studio. For outdoor boudoir, please book the outdoor venue, where you will have privacy
            without the voyeurs of the road.
        </p>
    </div>

    <div class="qa-box">
        <h3>Q: Is food allowed in the studio?</h3>
        <p>A: No, with the exception of cake during a milestone session.</p>
    </div>

    <div class="qa-box">
        <h3>Q: Can I split the studio with another photographer?</h3>
        <p>
            A: No. The studio is rented out to one photographer at a time. The photographer may bring along an adult
            assistant. (No minor children, unless preauthorized)
        </p>
    </div>

    <div class="qa-box">
        <h3>Q: Can we book Santa, Grinch, Easter Bunny, etc.?</h3>
        <p>A: My venue is completely holiday-free, meaning there are no costumed characters allowed.</p>
    </div>

    <div class="qa-box">
        <h3>Q: Can we pet the animals?</h3>
        <p>
            A: Yes, the cats are all very friendly. Please only pet the horses if they are alongside the fence, while your
            photographer is with you. Please do not wander over to the horses on your own.
        </p>
    </div>

    <div class="qa-box">
        <h3>Q: Are dogs allowed?</h3>
        <p>
            A: Absolutely! Please remember to keep them leashed at all times and clean up their messes. Ask your
            photographer where to find the garbage can. Please do not leave dog mess in the woods, bagged or
            otherwise. This will lead to a cleanup fee.
        </p>
    </div>
</div>